secrets
db/media_organizer.db
scripts/__pycache__/constants.cpython-312.pyc
scripts/__pycache__/google_photos.cpython-312.pyc
scripts/__pycache__/init_db.cpython-312.pyc
scripts/__pycache__/utils.cpython-312.pyc
db/__pycache__/__init__.cpython-312.pyc
db/__pycache__/queries.cpython-312.pyc
token.pickle
.DS_Store
.venv/
venv
__pycache__
*.*~
*~.*